.wishlistcontainer {
    width : 100%;
    margin-top : 70px;
    display: grid;
    gap: 4rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 2rem;
    padding-left : 2rem;
    height : auto; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-width : 1303px;
}

.add{
    background-color: #09001c;
   position:fixed;
   height:100%;
   width: 1303px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.add p{
    color:rgb(255, 0, 102);
    font-family: "Protest Guerrilla", sans-serif;
     font-size: x-large; 
}
@media (max-width :480px ) {
    .wishlistcontainer {
    gap: 2rem; 
    padding-left : 1.2rem;
    margin-top : 2.5rem;
}
}
@media (max-width :768px ) {
    .wishlistcontainer {
        gap: 2.5rem; 
    padding-left : 0.5rem;
}
}